body {
    background-color: deepskyblue;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    color: black;
    font-size: 24px;
    font-family: "sans-serif";
    text-align: center;
}

.image-container {
    margin: 20px;
    text-align: center;
    border-style: dashed;
    border-color: orange;
}

.form-container {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.table-container {
    width: 80%;
    margin-top: 10px;
    text-align: center;
    height: 250px;
    overflow: auto;
}
.errorMessage{
    color: red;
}

